.page {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.error {
  font-size: 14px;
  color: rgb(208, 34, 34);
}

.input-box {
  margin-bottom: 10px;
}

.input-box input {
  width: 100%;
  background: none;
  color: white;
  border: none;
  outline: none;
  border-bottom: 2px white solid;
  transition: 0.5s;
}

.error + input {
  border-color: rgb(208, 34, 34);
}

fieldset {
  border-radius: 5px;
  margin-bottom: 10px;
}

.error-box {
  min-height: 20px;
}

.file {
  cursor: pointer;
}

.button {
  background: white;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  border: white 2px solid;
  font-weight: 700;
  display: block;
  margin: auto;
  transition: 0.7s;
}

@media(hover:hover) {
  .button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.button:active {
  transform: scale(0.8);
  transition: 0.2s;
}