.card-description {
  position: fixed;
  z-index: 100;
  top: 0;
  padding: 10px;
  right: 0;
  width: 320px;
  background: white;
  height: 100vh;
  overflow-y: auto;
  box-shadow: -4px -4px 4px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform: translateX(340px);
  animation: left-right 1s forwards;
}

.card-description__img {
  margin: auto;
  display: block;
  height: 200px;
  object-fit: contain;
  width: 280px;
  border-radius: 3px;
}

.card-description__name {
  text-align: center;
}

.card-description__description span {
  font-weight: 700;
}

.controls {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  padding: 0 0 10px 0;
}

.controls__btn {
  width: 25px;
  height: 25px;
  color: rgb(195, 43, 43);
  font-weight: 700;
  border-radius: 50%;
  background: none;
  border: solid 2px rgb(195, 43, 43);
  transition: 0.7s;
}

.overlay {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
}

@media (hover: hover) {
  .controls__btn:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.controls__btn:active {
  transition: 0.2s;
  transform: scale(0.8);
}

@keyframes left-right {
  0% {
    transform: translateX(340px);
  }
  100% {
    transform: translateX(0);
  }
}
