.header {
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 10px;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}