.loading {
  position: fixed;
  z-index: 300;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.loading__img {
  max-width: 250px;
  width: 100%;
}
