.msg {
  background: white;
  position: fixed;
  z-index: 100;
  left: 10px;
  top: 50px;
  padding: 10px;
  border-radius: 3px;
  width: 180px;
  overflow: auto;
  text-align: center;
  transform: translateX(-200px);
  animation: left-side 1s forwards;
}

.msg p {
  margin: 0 0 5px 0;
  font-weight: 700;
}

.msg__btn {
  background: rgb(242, 212, 44);
  border: none;
  font-weight: 700;
  margin: 0 5px;
  padding: 3px;
  border-radius: 3px;
  color: rgb(69, 69, 69);
  transition: 0.5s;
}

@media (hover:hover) {
  .msg__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.msg__btn:active {
  transition: 0.2s;
  transform: scale(0.8);
}

@keyframes left-side {
  0% {
    transform: translateX(-200px)
  }
  100% {
    transform: translateX(0)
  }
}