.search {
  width: 100%;
  display: flex;
  position: relative;
}

.search__input {
  background: none;
  border: none;
  border-bottom: solid 2px white;
  outline: none;
  width: 100%;
  color: rgb(69, 69, 69);
  padding-left: 30px;
}

.search__btn {
  padding: 5px;
  background: white;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 700;
  color: rgb(69, 69, 69);
  transition: 0.7s;
}

.search__btn-clear {
  position: absolute;
  background: white;
  border: none;
  width: 20px;
  height: 20px;
  text-align: center;
  color: rgb(195, 43, 43);
  font-weight: 700;
  transition: 0.7s;
  border-radius: 3px;
}

@media (hover: hover) {
  .search__btn:hover,
  .search__btn-clear:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.search__btn:active,
.search__btn-clear:active {
  transition: 0.2s;
  transform: scale(0.9);
}
