html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ff6767;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #ff4545;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #ff1e1e;
}
